.custom-carousel-caption {
    color: black;
    padding: 5px;
}

.carousel-indicators li {
    background-color: #EBE5FA; 
}

.carousel-indicators .active {
    background-color: #7751DD;
}

.btn-primary {
    background-color: #7751DD;
    border-color: #7751DD;
}

.btn-primary:hover {
    background-color: #5c3b9d;
    border-color: #5c3b9d;
}
.btn btn-primary{
    background-color: #7751DD;
    border-color: #7751DD;
}
